body {
    background-color: #A7EDE7;
    font-family: 'Roboto', sans-serif;
    margin: 0;
}

.header {
    width: 100%;
    height: 100px;
    background-color: #45CFDD;
    padding: 30px 0;
}

.header_flexbox {
    display: flex;
    gap: 10px;
}

.cart {
    margin-left: auto;
}

.cart img {
    height: auto;
    width: 100px;
    margin-left: auto;
    padding-right: 50px;
}

.hotwheelsLogo img {
    width: 200px;
    height: auto;
    padding-top: 18px;
    padding-left: 50px;
}

.header_flexbox button {
    background-color: #6527BE;
    border: none;
    border-radius: 10px;
    color: white;
    font-size: 30px;
}

.header_button {
    padding-top: 22px;
}

/* This part contains the body of the html*/

.grid_container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 43px;
}

.cars {
    height: 160px;
    width: 330px;
}

.items_grid {
    margin: 50px 30px 50px 50px;
}

/* Modifying the Button of the grids*/


.remove_from_cart {
    display: inline;
    margin-top: 10px;
    padding: 10px;
    font-size: 15px;
    border-width: 0px;
    border-radius: 15px;
    background-color: #FF6666;
    color: white;
}

.add_to_cart {
    /* This small part is used to make the button at the middle of the div*/
    /*
    display: block;
    margin: 0 auto;
    */
    float: right;
    margin-top: 10px;
    padding: 10px;
    font-size: 15px;
    border-width: 0px;
    border-radius: 15px;
    background-color: #FF6666;
    color: white;
}